extends parent
block content
	+article('About Me')
		p. 
			Hello, my name is Anurag. I am a Second Year Computer Science student at Ryerson University.I would like to focus specifically in Networking and Web Applications. I love playing and watching a variety of sports such as Baseball,Hockey and Cricket. Some of my other hobbies include listening music from different genres such as hip hop and EDM.In the future after graduating from Ryerson I would like to set up my own business related to Web Applications and Networking. I also would like to get a Masters Degree in Computer Science.
		img(src= "http://www.scs.ryerson.ca/~asherkar/CPS630/Lab1/images/me.jpg")(style="width:250px;height:250px;border-radius:5px;")
	+article('2 Articles of Interest')
		p.
			The Toronto Maple Leafs are currently in a hunt for a playoff spot. Currently things are very tight as they must win the remaining of the two games to make sure they go to the playoffs.

			Meanwhile the Blue Jays have begun their season and did not get to a good start to the season. The good news is that things are starting to change and seems like they are heading the right direction.