footer(style="text-align:center")
	p.name(style="text-align:center")  © Anurag Sherkar 2nd Year Ryerson CS
	a(href='https://www.instagram.com/asherkar22')#log(style="text-decoration:none")
		img(src= "https://www.neoogilvy.com/wp-content/uploads/2016/05/instagram-logo-e1463073192557.png")
	a(href='https://www.facebook.com/asherkar22')#log(style="text-decoration:none") 
		img(src= "http://www.snaware.com/Content/images/fb.png") 
	a(href='https://www.linkedin.com/in/anurag-sherkar-360917134/')#log(style="text-decoration:none;text-align:center;") 
		img(src= "https://www.gc.cuny.edu/shared/images/shared/LinkedIn_25px_25px.png") 
	