extend parent
block content
	+article('Pug')
		p.
			This is lab is based on Pug,ExpressJs and NodeJs. This was pretty fun lab to do.

		img(src= "https://lh6.googleusercontent.com/-sU5IRCCxMYc/TiZsuwV0nFI/AAAAAAAAALc/dH1OxZImcJU/nodejs2.png")(style="width:300px;height:200px;border-radius:5px;")
		img(src= "https://raw.githubusercontent.com/pugjs/pug-logo/master/PNG/pug-final-logo_-colour-256.png")(style="border-radius:5px;")
		img(src= "http://opbeat.com/docs/static/images/stacks/logo_express.svg")(style="width:300px;height:200px;border-radius:5px;")