extends parent
block content
	+article('Internet Of Things')
		p.
			The Internet of Things is the networking between several devices,vehicles,buildings, and many other systems which have embedded sensors and other technology which collect data. The data that may be sent to variety of data collection servers. In 2013 the Global Standards Initiative of Things(IoT-GSI) has decfined Internet Of things as the infrastructure of information society.According to many experts say that there will be as many as 50 Billion objects by 2020 that will be part of IoT world. Considering the number it does not seem unrealistic as the world currently depends on internet for almost everything. Resource:https://en.wikipedia.org/wiki/Internet_of_things
		img(src= "http://www.wordstream.com/images/internet-of-things-adoption-prediction.jpg")(style="width:350px;height:250px;border-radius:5px;")
	+article('SnakeBot')
		p.
			A snake robot also known as snakebot is biomorphic hyper-redundant robot that has characteristics of a real snake. Snake robots come in many different characteristics in terms of shapes and sizes. They could be as tall as four stories used during an earthquake crisis. It was developed by SINTEF.There are also snakebots that are developed for medical reasons made by Carnegie Mellon University. All of the different snake robots share two qualities, first the ratio between their length and width and second, their ability to change the shape of their body.

			Resource: https://en.wikipedia.org/wiki/Snakebot
		img(src= "https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/SnakeBot3.jpg/300px-SnakeBot3.jpg")(style="width:350px;height:250px;border-radius:5px;")
	+article('ECMAScript')
		p.
			ECMAScript is a scripting language that is standadardized by European Computer Manufacturers Association in ECMA-262 and ISO/IEC16262.The main goal to standardized JavaScript. The most common way to implement ECMAScript is  JavaSCript since the its first publishment. It is commonly used for client-side scripting on the web.ECMAScript is increasingly being used for services and applications that use Nodejs. Currently there are 7 working editions of it and the 8th one is in the works. Common features of ECMAScript are structure,dynamic,functional and prototype-based. The syntax is like JavaScript since it is based on it as well.  Resource:https://en.wikipedia.org/wiki/ECMAScript
		img(src="http://sub1.kevinchisholm.com/blog/images/ecmascript6-logo.png")(style="width:350px;height:250px;border-radius:5px;")

		p. 
			Resources: 
			
